on:
  push:
    branches:
      - master
  pull_request:
name: system-tests-against-emulator
jobs:
  test:
    runs-on: ubuntu-latest

    services:
      emulator:
        image: gcr.io/cloud-spanner-emulator/emulator:0.8.0
        ports:
          - 9010:9010
          - 9020:9020

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - run: node --version
      - run: npm install
      - run: npm run system-test
        env:
          SPANNER_EMULATOR_HOST: localhost:9010
          GCLOUD_PROJECT: emulator-test-project
